<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/views/templates/default/template.xhtml">

    <ui:define name="content"> 
        <div class="ui-g">
            <div class="ui-g-12">
            	<h:form>
					<p:panel header="Unidades de Medida" id="panelPrincipal">
						<p:dataTable value="${modelo.listado}" var="fila" rowKey="${fila.id}" selection="${modelo.seleccionado}" emptyMessage="Sin Resultados"
						selectionMode="single" paginator="true" rows="10" paginatorPosition="bottom" paginatorAlwaysVisible="flase">
	            			<p:column headerText="Id" width="70" filterable="true" filterBy="${fila.id}" filterMatchMode="contains"
	            			sortable="true" sortBy="${fila.id}">
	            				${fila.id}
	            			</p:column>
	            			<p:column headerText="Nombre" width="150" filterable="true" filterBy="${fila.nombre}" filterMatchMode="contains"
	            			sortable="true" sortBy="${fila.nombre}">
	            				${fila.nombre}
	            			</p:column>
							<p:column headerText="Siglas" width="100" filterable="true" filterBy="${fila.siglas}" filterMatchMode="contains"
	            			sortable="true" sortBy="${fila.siglas}">
	            				${fila.siglas}
		            		</p:column>
		            	</p:dataTable>
		            	<f:facet name="footer">
		            		<p:commandButton value="Agregar" action="agregar" icon="ui-icon-add"/>
		            		<p:commandButton value="Editar" action="editar" icon="ui-icon-edit" disabled="${modelo.seleccionado==null}"/>
		            		<p:commandButton value="Eliminar" action="eliminar" icon="ui-icon-delete" disabled="${modelo.seleccionado==null}"
		            		update="${p:resolveFirstComponentWithId('panelPrincipal', view).clientId}">
		            			<p:confirm header="Eliminar Unidad de Medida" message="¿Estás seguro de elliminar?"/>
		            		</p:commandButton>
		            	</f:facet>				
					</p:panel>
					
					<p:confirmDialog global="true">
						<p:commandButton value="SI" icon="ui-icon-check" styleClass="ui-confirmdialog-yes"/>
						<p:commandButton value="NO" icon="ui-icon-close" styleClass="ui-confirmdialog-no"/>
					</p:confirmDialog>
					
            	<!-- si no pongo la siguiente linea la app no hace nada con los botones --> 
            		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            	</h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>